{% extends 'myapp/base.html' %} 
{% block body %}

<div class="grid place-items-center ">
<form action="{% url 'logout' %}" method="post" >
    {% csrf_token %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-0 py-3 rounded relative grid place-items-center" role="alert">
        <strong class="font-bold">Logout!</strong>
        <span class="block sm:inline">Are you sure.</span>
        
      </div>
      <br>
      
    <button class="rounded-full border-2 border-red-500 px-6 py-1 text-red-600 transition-colors hover:bg-red-500 hover:text-white">Log Out</button>
  </form>
</div>

{% endblock %}